# NextAuth
AUTH_SECRET=replace_with_openssl_rand_base64_32
NEXTAUTH_URL=https://hello.parvonic.cz

# Admin login
ADMIN_EMAIL=miroslav@parvonic.cz
ADMIN_PASSWORD=replace_with_strong_password

# EVO API (jen pro lokální vývoj, v prod. proxy přes Apache)
EVO_API_URL=http://10.10.0.2:8000
